fcDmw/Service References/SOAPService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://oobd.gismap3d.ru" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SOAPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://oobd.gismap3d.ru" location="" />
  <wsdl:types />
  <wsdl:binding name="BasicEndpoint" type="i0:ISODBService">
    <wsp:PolicyReference URI="#BasicEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCatalogue">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/CheckCatalogue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CatalogueClassCount">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/CatalogueClassCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CatalogueLoadingProgress">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/CatalogueLoadingProgress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DiagnosticAnalysisClassCount">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/DiagnosticAnalysisClassCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DiagnosticAnalysisProgress">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/DiagnosticAnalysisProgress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/Authorization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseConnection">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/CloseConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeatureClasses">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetFeatureClasses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFeatureClassSchema">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetFeatureClassSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMetadataClassSchemas">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetMetadataClassSchemas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFeatureClassMetaData">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetFeatureClassMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetScales">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetScales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCartographicModels">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetCartographicModels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStyles">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetStyles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDomain">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMetaFields">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetMetaFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Request">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/Request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RequestNSAsync">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/RequestNSAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRequestStatus">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetRequestStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRequestResult">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetRequestResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFeatures">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetFeatures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCartographicElements">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetCartographicElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartEditing">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/StartEditing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExecuteFaultFault">
        <soap12:fault use="literal" name="ExecuteFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StopEditing">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/StopEditing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveEditingAsync">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/SaveEditingAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddFeatures">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/AddFeatures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditFeatures">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/EditFeatures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFeatures">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/DeleteFeatures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddCartographicElements">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/AddCartographicElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditCartographicElements">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/EditCartographicElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCartographicElements">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/DeleteCartographicElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddCartographicModels">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/AddCartographicModels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditCartographicModels">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/EditCartographicModels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCartographicModels">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/DeleteCartographicModels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddStyles">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/AddStyles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditStyles">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/EditStyles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteStyles">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/DeleteStyles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TokenFaultFault">
        <soap12:fault use="literal" name="TokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionFaultFault">
        <soap12:fault use="literal" name="SessionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetGeometry">
      <soap12:operation soapAction="http://oobd.gismap3d.ru/ISODBService/GetGeometry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPService">
    <wsdl:port name="BasicEndpoint" binding="tns:BasicEndpoint">
      <soap12:address location="https://localhost:8022/SOAPService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:8022/SOAPService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>