fcDmw/Service References/SOAPService/SODBCore.Queries1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SODBCore.Queries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SODBCore.Queries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SODBCore.Conditions" />
  <xs:complexType name="Query">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseSensitive" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SODBCore.Conditions" minOccurs="0" name="Condition" nillable="true" type="q1:Condition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Query" nillable="true" type="tns:Query" />
  <xs:complexType name="NotQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Query">
        <xs:sequence>
          <xs:element minOccurs="0" name="Query" nillable="true" type="tns:Query" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotQuery" nillable="true" type="tns:NotQuery" />
  <xs:complexType name="OrQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Query">
        <xs:sequence>
          <xs:element minOccurs="0" name="Query1" nillable="true" type="tns:Query" />
          <xs:element minOccurs="0" name="Query2" nillable="true" type="tns:Query" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrQuery" nillable="true" type="tns:OrQuery" />
  <xs:complexType name="AndQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Query">
        <xs:sequence>
          <xs:element minOccurs="0" name="Query1" nillable="true" type="tns:Query" />
          <xs:element minOccurs="0" name="Query2" nillable="true" type="tns:Query" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AndQuery" nillable="true" type="tns:AndQuery" />
</xs:schema>